# Fix Lang Project Rules

## System

- macOS (Apple Silicon)
- Electron

## Technical Stack

- Electron JS
- TypeScript
- React
- OpenAI API
- Tailwind CSS
- Vite
- PNPM (package manager)

## General Rules

- Always start responses with `I’ve already read the rules\n`
- Alway check `package.json` before install new packages

## Coding Rules

- Use TypeScript for all code
- Use Tailwind CSS for styling
- Prefer `type` over `interface`
- Follow SOLID principles; keep code simple, maintainable, and testable
- Use descriptive variable names
- Prefer `const` over `function` for declarations
- Keep files under 200 lines, split into smaller files if necessary
